<div class="rounded-md {{ this.backgroundClass }} p-4">
    <div class="flex">
        <div class="shrink-0">
            {{ component('icon_mini', {
                name: this.iconName,
                class: this.iconClass,
            }) }}
        </div>
        <div class="ml-3">
            {% if title is not empty %}
                <h3 class="text-sm font-medium {{ this.titleClass }}">
                    {{ title|raw }}
                </h3>
            {% endif %}
            <p class="{{ title is not empty ? 'mt-2 ' }}text-sm {{ this.textClass }}">
                {{ text|raw }}
            </p>
        </div>
    </div>
</div>
